.app {
  text-align: center;
}

h4 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: whitesmoke;
  font-weight: 600;
}

input {
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

input:focus {
  border: 1px solid rgb(0, 110, 255);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05);
}

.person-form {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 322px;
  justify-content: center;
  padding: 1rem;
  background-color: white;
  border-radius: 20px;
  margin-top: 1rem;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05);
}

.people-list {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 322px;
  height: auto;
  padding: 1rem;
  background-color: white;
  border-radius: 20px;
  margin-top: 1rem;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05);
}

.person {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.remove-person {
  flex-grow: 1;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  margin-left: 0.7rem;
}
